{% block prefix %}{% endblock %}
{% block prefix_separator %}-{% endblock %}
{%- block prefix_final -%}
    {{ block('prefix') is not empty ? block('prefix') ~ block('prefix_separator') }}
{%- endblock -%}

{% block breadcrumbs %}
    {% if breadcrumbs is defined and breadcrumbs|length > 1 %}
        <nav aria-label="{{ breadcrumbs_landmark|default('Brotkrumenwegnavigation') }}" class="{{ block('prefix_final') ~ 'breadcrumbs' }} {% block breadcrumbs_class %}{% endblock %}">
            {% block breadcrumbs_label %}
                <span class="{{ block('prefix_final') ~ 'breadcrumbs__label' }} {% block breadcrumbs_label_class %}{% endblock %}">{{ "webfactory_navigation.breadcrumb_label"|trans({}, 'webfactory-navigation') }}</span>
            {% endblock %}
            <ul class="{{ block('prefix_final') ~ 'breadcrumbs__list' }} {% block breadcrumbs_list_class %}{% endblock %}" role="list">
                {% for node in breadcrumbs %}
                    {% if node.caption|trim is not empty and ((node.breadcrumbsVisible is defined and node.breadcrumbsVisible) or node.visible) %}
                        <li class="{{ block('prefix_final') ~ 'breadcrumbs__item' }} {% block breadcrumbs_item_class %}{% endblock %}">
                            <a class="{{ block('prefix_final') ~ 'breadcrumbs__link' }} {% block breadcrumbs_link_class %}{% endblock %}"
                               href="{{ node.url }}" {% if node.activeNode -%}aria-current="page"{%- endif -%}>

                                {%- block breadcrumbs_caption -%}
                                    <span class="{{ block('prefix_final') }}breadcrumbs__text {% block breadcrumbs_text_class %}{% endblock %}">{{ node.caption }}</span>
                                {%- endblock -%}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
