{# root \Webfactory\Bundle\NavigationBundle\Tree\Node #}
{# level int #}
{# maxLevels int #}
{# expandedLevels int #}
{% block prefix %}{% endblock %}
{% block prefix_separator %}-{% endblock %}
{%- block prefix_final -%}
    {{ block('prefix') is not empty ? block('prefix') ~ block('prefix_separator') }}
{%- endblock -%}

{% block navigation_if_visible %}
    {%- set navigation_base_class = block('prefix_final') ~ 'nav' -%}

    {% if level < maxLevels and (level < expandedLevels or root.activePath) %}
        {% set visibleNodes = root.children | filter(node => node.visible) %}
        {% if visibleNodes is not empty %}
            <nav class="{{ navigation_base_class }} {% block navigation_additional_class %}{% endblock %}">
                {{ block('navigation_list') }}
            </nav>
        {% endif %}
    {% endif %}
{% endblock %}

{# visibleNodes \Webfactory\Bundle\NavigationBundle\Tree\Node[] #}
{# level int #}
{%- block navigation_list -%}
    <ul class="{{ block('navigation_list_class') }}">
        {% for node in visibleNodes %}
            {{ block('navigation_item') }}
        {% endfor %}
    </ul>
{%- endblock -%}

{# node \Webfactory\Bundle\NavigationBundle\Tree\Node #}
{# level int #}
{%- block navigation_list_class -%}
    {%- set navigation_list_base_class = block('prefix_final') ~ 'nav__list' -%}

    {{ navigation_list_base_class }}
    {{ navigation_list_base_class }}--{{ level }}
    {% block navigation_list_additional_class -%}{%- endblock -%}
{%- endblock -%}

{# node \Webfactory\Bundle\NavigationBundle\Tree\Node #}
{# level int #}
{% block navigation_item %}
    {% if node.visible %}
        <li class="{{ block('navigation_item_class') }}">
            {{ block('navigation_text') }}

            {%- with {root: node, level: level + 1} %}
                {{ block('navigation_if_visible') }}
            {% endwith %}
        </li>
    {% else %}
        {% deprecated 'Passing invisible nodes into the navigation_item block is deprecated. Filter nodes in the navigation_list block.' %}
    {% endif %}
{% endblock %}

{# node \Webfactory\Bundle\NavigationBundle\Tree\Node #}
{# level int #}
{%- block navigation_item_class -%}
    {%- set navigation_item_base_class = block('prefix_final') ~ 'nav__item' -%}

    {{ navigation_item_base_class }}
    {{ navigation_item_base_class }}--{{ level }}
    {{ node.isActiveNode ? navigation_item_base_class ~ '--is-active' }}
    {{ node.isActivePath ? navigation_item_base_class ~ '--is-active-path' }}
    {{ node.hasVisibleChildren ? navigation_item_base_class ~ '--has-visible-children' }}
    {% block navigation_item_additional_class -%}{%- endblock -%}
{%- endblock -%}

{# node \Webfactory\Bundle\NavigationBundle\Tree\Node #}
{# level int #}
{%- block navigation_text -%}
    {%- if not node.isActiveNode and block('navigation_url') -%}
        <a href="{{ block('navigation_url') }}" class="{{ block('navigation_text_class') }}">{{ block('navigation_caption') }}</a>
    {%- else -%}
        <span class="{{ block('navigation_text_class') }}">{{ block('navigation_caption') }}</span>
    {%- endif -%}
{%- endblock -%}

{# node \Webfactory\Bundle\NavigationBundle\Tree\Node #}
{# level int #}
{%- block navigation_text_class -%}
    {%- set navigation_text_base_class = block('prefix_final') ~ 'nav__text' -%}

    {{ navigation_text_base_class }}
    {{ navigation_text_base_class }}--{{ level }}
    {% block navigation_text_additional_class -%}{%- endblock -%}
{%- endblock -%}

{# node \Webfactory\Bundle\NavigationBundle\Tree\Node #}
{%- block navigation_url -%}
    {{ node.url }}
{%- endblock -%}

{# node \Webfactory\Bundle\NavigationBundle\Tree\Node #}
{%- block navigation_caption -%}
    {{ node.caption }}
{%- endblock -%}
