
{% block navigation_list %}
    {% if nodes %}
        <ul class="{{ navigation_list_class(navigation, nodes, level, parentNode) }}">
            {% for node in nodes %}
                {{ navigation_item(navigation, node, level, loop) }}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{%- block navigation_list_class -%}
    nl nl-{{ level }}
{%- endblock -%}

{% block navigation_item %}
    <li class="{{ navigation_item_class(navigation, node, level, loop) }}">
        {{ navigation_text(navigation, node, level) }}
        {{ navigation_list(navigation, navigation.childNodes(node), level + 1, node) }}
    </li>
{% endblock %}

{% block navigation_item_class %}{% spaceless %}
    {% set classes = [] %}
    {% set classes = classes | merge( [(navigation.active(node) ? 'a' : 'na')] ) %}
    {% if navigation.onActivePath(node) %}{% set classes = classes | merge(['ap']) %}{% endif %}
    {% if loop.first %}{% set classes = classes | merge(['f']) %}{% endif %}
    {% if loop.last %}{% set classes = classes | merge(['l']) %}{% endif %}
    {% set classes = classes | merge( [(navigation.parent(node) ? 'p' : 'np' )] ) %}
    {% endspaceless %}ni ni-{{ level }} {% for set in power_set(classes) %}{% spaceless %}
        {% set class = set | sort | join('-') %}
        {% endspaceless %}{% if not class is empty %}{% spaceless %}
            ni-{{ class }}-{{ level }}
            {% endspaceless %}{% if not loop.last %} {% endif %}{% spaceless %}
        {% endspaceless %}{% endif %}{% spaceless %}
    {% endspaceless %}{% endfor %}{% spaceless %}
{% endspaceless %}{% endblock %}

{% block navigation_text %}
    {%- if not navigation.active(node) -%}
        <a href="{{ navigation_url(navigation, node, level) }}" class="{{ navigation_text_class(navigation, node, level) }}">{{ navigation_caption(navigation, node, level) }}</a>
    {%- else -%}
        <span class="{{ navigation_text_class(navigation, node, level) }}">{{ navigation_caption(navigation, node, level) }}</span>
    {%- endif -%}
{% endblock %}

{%- block navigation_text_class -%}
    nt nt-{{ level }}
{%- endblock -%}

{%- block navigation_url -%}
    {{ node.url }}
{%- endblock -%}

{%- block navigation_caption -%}
    {{ node.caption }}
{%- endblock -%}

