{% block navigation_list %}
    {# nodes \Webfactory\Bundle\NavigationBundle\Tree\Node[] #}
    {% set visibleNodes = nodes | filter(node => node.visible) %}

    {% if visibleNodes is not empty %}
        <ul class="{{ navigation_list_class(themeRoot, visibleNodes, level, parentNode) }}">
            {% for node in visibleNodes %}
                {{ navigation_item(themeRoot, node, level, maxLevels, expandedLevels, loop) }}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{%- block navigation_list_class -%}
    nl nl-{{ level }}
{%- endblock -%}

{% block navigation_item %}
    {% if node.visible %}
        <li class="{{ navigation_item_class(themeRoot, node, level, loop) }}">
            {{ navigation_text(themeRoot, node, level) }}
            {{ navigation_list(themeRoot, node.children, level + 1, maxLevels, expandedLevels, node) }}
        </li>
    {% else %}
        {% deprecated 'Passing invisible nodes into the navigation_item block is deprecated. Filter nodes in the navigation_list block.' %}
    {% endif %}
{% endblock %}

{% block navigation_item_class -%}
    {%- set classes = [] -%}
    {%- set classes = classes | merge( [(node.isActiveNode ? 'a' : 'na')] ) -%}
    {%- set classes = classes | merge( [(node.isActivePath ? 'ap' : 'nap')] ) -%}
    {%- set classes = classes | merge( [(loop.first ? 'f' : 'nf')] ) -%}
    {%- set classes = classes | merge( [(loop.last ? 'l' : 'nl')] ) -%}
    {%- set classes = classes | merge( [(node.hasVisibleChildren ? 'p' : 'np' )] ) -%}

    ni ni-{{ level }}

    {%- for set in power_set(classes) -%}
        {%- set class = set | sort | join('-') -%}
        {%- if not class is empty -%}
            {# keep one space here -> #} ni-{{ class }}-{{ level }}
        {%- endif -%}
    {%- endfor -%}
{%- endblock -%}


{%- block navigation_text -%}
    {%- if not node.isActiveNode and navigation_url(themeRoot, node, level) -%}
        <a href="{{ navigation_url(themeRoot, node, level) }}" class="{{ navigation_text_class(themeRoot, node, level) }}">{{ navigation_caption(themeRoot, node, level) }}</a>
    {%- else -%}
        <span class="{{ navigation_text_class(themeRoot, node, level) }}">{{ navigation_caption(themeRoot, node, level) }}</span>
    {%- endif -%}
{%- endblock -%}

{%- block navigation_text_class -%}
    nt nt-{{ level }}
{%- endblock -%}

{%- block navigation_url -%}
    {{ node.url }}
{%- endblock -%}

{%- block navigation_caption -%}
    {{ node.caption }}
{%- endblock -%}
